# Virtual Environments
venv/
env/
.env

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE Settings
.idea/
.vscode/

# Archives
*.rar
*.zip
*.tar.gz

# Backend Defaults (Global)
*.pyc
__pycache__/
db.sqlite3
media/

# Node Defaults (Global)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/